@using Microsoft.AspNetCore.Mvc.Localization
@using MusteriPaneli.Localization
@inject IHtmlLocalizer<MusteriPaneliResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
